*{
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
  background-color: #fff;
}
.container{
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-header-top{
background-color: #F6F6F6;;
padding-top: 30px;
padding-bottom: 30px;
}
.site-header-logo{
  padding: 8px 6px;
  border-radius: 7px;
  background-color: #fff;
  display: flex;
  margin-right: 35px;
}
.site-header-logo:hover{
  opacity: 0.8;
}
.site-header-logo:active{
  opacity: 0.6;
}
.logo-img{
  margin: 0;
}
.site-header-container{
  display: flex;
  align-items: center;

}

.global-currency{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: auto;
}
.global-currency-value{
  color: #2959CE;
  font-weight: bold;
font-size: 16px;
line-height: 19px;
}
.global-currency-item:not(:last-child){
  margin-right: 25px;
}

.search-form{
margin-right: 25px;
}
.search-form-input{
  padding-left: 40px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-right: 20px;
  border-radius: 60px;
  border: 0;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  border: 0px;
  color: #8D8D8D;
}
.lang-toggle{
  margin-right: 25px;
  display: flex;
  padding: 3px;
  border-radius: 39px;
  background-color: #DCE6FF;
  font-size: 13px;
}
.lang-toggle-link{
  font-size: 13px;
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}
.lang-toggle-link-active{
  background-color: #fff;
  color: #000;
}
.site-header-button{
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding: 13px 20px;
  text-decoration: none;
text-align: center;
background-color: #7296EC;
border-radius: 10px;
cursor: pointer;
color: #fff;
}
.site-header-button:hover{
  opacity: 0.8;
}
.site-header-button:active{
  opacity: 0.6;
}
/* SITE-NAV */
.sitenav {
  font-family: Rubik, Arial, sans-serif;
  padding-top: 26px;
  padding-bottom: 16px;
  font-weight: medium;
  font-size: 18px;
  line-height: 21px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 40px;
}
.sitenav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.sitenav-item {
  list-style: none;
  margin-top: 4px;
  margin-bottom: 4px;
}
.sitenav-item:not(:last-child){
  margin-right: 34px;
}
.sitenav-link {
  display: block;
  text-decoration: none;
  color: #7F7F7F;
}
/* BANNER */
.banner{
  display: flex;
  margin-bottom: 50px;
}