@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
  url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
  url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"),
  url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus{
  outline: 2px dashed #000000;
  outline-offset: 2px;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
  background-color: #fff;
}
.container{
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-header-top{
background-color: #F6F6F6;;
padding-top: 30px;
padding-bottom: 30px;
}
.site-header-logo{
  padding: 8px 6px;
  border-radius: 7px;
  background-color: #fff;
  display: flex;
  margin-right: 35px;
}
.site-header-logo:hover{
  opacity: 0.8;
}
.site-header-logo:active{
  opacity: 0.6;
}
.logo-img{
  margin: 0;
}
.site-header-container{
  display: flex;
  align-items: center;

}

.global-currency{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: auto;
}
.global-currency-value{
  color: #2959CE;
  font-weight: bold;
font-size: 16px;
line-height: 19px;
}
.global-currency-item:not(:last-child){
  margin-right: 25px;
}

.search-form{
margin-right: 25px;
}
.search-form-input{
  padding-left: 40px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-right: 20px;
  border-radius: 60px;
  border: 0;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  border: 0px;
  color: #8D8D8D;
}
.search-form-input {
  content: "";
  background-image: url(../img/Mask.svg);
  background-position: 15px center;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
.lang-toggle{
  margin-right: 25px;
  display: flex;
  padding: 3px;
  border-radius: 39px;
  background-color: #DCE6FF;
  font-size: 13px;
}
.lang-toggle-link{
  font-size: 13px;
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.lang-toggle-link-active{
  background-color: #fff;
  color: #000;
}
.lang-toggle-link:hover{
  opacity: 0.8;
}
.lang-toggle-link:active{
  opacity: 0.6;
}
.site-header-button{
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding: 13px 20px;
  text-decoration: none;
  text-align: center;
  background-color: #7296EC;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: opacity 0.4s ease;
}
.site-header-button:hover{
  opacity: 0.8;
}
.site-header-button:active{
  opacity: 0.6;
}
/* SITE-NAV */
.sitenav {
  font-family: Rubik, Arial, sans-serif;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 40px;
}
.sitenav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.sitenav-item {
  list-style: none;
  margin-top: 4px;
  margin-bottom: 4px;
}
.sitenav-item:not(:last-child){
  margin-right: 34px;
}
.sitenav-link {
  display: block;
  text-decoration: none;
  color: #7F7F7F;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.sitenav-link:hover{
  color: #7297EF;
}
.sitenav-link:active{
  opacity: 0.6;
}
/* BANNER */
.banner-link{
  display: flex;
  margin-bottom: 50px;
  transition:  opacity 0.4s ease;
}
.banner-link:hover{
  opacity: 0.8;
}
.banner-link:active{
  opacity: 0.6;
}
.banner-img{
  width: 1200px;
  height: 128px;
  border-radius: 8px;
}

/* MAIN */
.main-section{
  flex-grow: 1;
}
/* TOP-NEWS */
.top-news{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.top-news-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 15px;
  width: 392px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 18px;
  padding-left: 17px;
}

.top-news-item:nth-child(3n){
  margin-right: 0;
}

.top-news-item-title{
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}
.top-news-item-title-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.top-news-item-title-link:hover{
  color: #7296EC;
}
.top-news-item-title-link:active{
  opacity: 0.6;
}
.top-news-item-text{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.top-news-item-img{
  width: 360px;
  height: 165px;
  margin: 0;
  margin-top: auto;
  margin-right: 17px;
  margin-left: 17px;
  margin-bottom: 18px;
  border-radius: 10px;
}
.top-news-item-source{
  margin-right: auto;
  display: flex;
  align-items: center;
}
.top-news-item-source-icon{
  display: flex;
  margin: 0;
}
.icon-link{
  margin-right: 10px;
  display: flex;
  transition: opacity 0.4s ease;
}
.icon-link:hover{
  opacity: 0.8;
}
.icon-link:active{
  opacity: 0.6;
}
.top-news-item-source-time{
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;
}

.notifications {
width: 1050px;
margin-right: auto;
margin-left: auto;
margin-bottom: 60px;
border-radius: 10px;
background-image: url(../img/Group35.jpg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
.notifications-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-right: 71px;
  padding-bottom: 24px;
  padding-left: 29px;
}
.notifications-heading {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.notifications-button-link {
text-decoration: none;
font-weight: 500;
font-size: 20px;
line-height: 26px;
padding: 13px 30px;
border-radius: 10px;
background-color: #F78B3B;
color: #fff;
transition: color 0.4s ease, opacity 0.4s ease;
}
.notifications-button-link:hover{
  background-color: #dda171;
  color: #7296EC;
}
.notifications-button-link:active{
  opacity: 0.6;
}

/* GLOBAL-NEWS */

.global-news{
  display: flex;
}
.global-news-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: normal;
  color: #000;
  font-weight: 500;
}
.global-news-list {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.global-news-list-item:not(:last-child) {
  margin-bottom: 10px;
}
.global-news-list-item {
  width: 797px;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 17px;
  border-radius: 15px;
  background-color: #f6f6f6;
}
.aritcle-card-horizontal-img {
  width: 210px;
  height: 165px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 10px;
}

.article-card-horizontal-title {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
}
.article-card-horizontal-link {
  display: inline-block;
  color: #000;
  font-weight: 500;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.article-card-horizontal-link:hover{
  color: #7297EF;
}
.article-card-horizontal-link:active{
  opacity: 0.6;
}
.article-card-horizontal-text {
  margin-top: 0;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
}
.article-card-horizontal-source {
  display: flex;
  align-items: center;
}
.article-card-horizontal-source-img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 5px;
}
.article-card-horizontal-source-time {
  font-size: 12px;
  line-height: normal;
  color: #5e5f61;
}

.global-news-bottom-link{
  width: 796px;
  padding: 17px 343px;
  background-color: #EAEAEA;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 100px;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  transition:  color 0.4s ease, opacity 0.4s ease;
}
.global-news-bottom-link:hover{
  color: #7297EF;
}
.global-news-bottom-link:active{
  opacity: 0.6;
}

/* GLOBAL-NEWS-RIGHT */

.global-news-right-top {
  width: 393px;
  padding-top: 20PX;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 17px;
  margin-top: 48px;
  margin-bottom: 10px;
  background: #F6F6F6;
  border-radius: 15px;
}
.global-news-right-top-heading {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.global-news-right-top-content {
  padding-top: 20px;
}
.global-news-right-top-content:not(:last-child){
  padding-bottom: 20px;
  border-bottom: 1px solid #D2D2D2;
}
.global-news-right-top-content-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.global-news-right-top-content-title-link {
  text-decoration: none;
  color: #000000;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.global-news-right-top-content-title-link:hover{
  color: #7297EF;
}
.global-news-right-top-content-title-link:active{
  opacity: 0.6;
}

.global-news-righ-top-content-source-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5E5F61;
}
.source-time{
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5E5F61;
}
.right-bottom-img-link{
  transition: opacity 0.4s ease;
}
.right-bottom-img-link :hover{
  opacity: 0.8;
}
.right-bottom-img-link :active{
  opacity: 0.6;
}
.global-news-right-bottom-img{
  width: 393px;
  height: 338px;
  border-radius: 15px;
}

/* FOOTER */
.site-footer{
background-color: #7297EF;
}
.footer-content {
  width: 998px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-heading {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 15px;
}
.footer-heading-link{
  line-height: 28px;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.footer-heading-link:hover{
  color: #000;
}
.footer-heading-link:active{
  opacity: 0.6;
}
.footer-content-inner {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.footer-content-text {
  margin: 0;
  margin-right: 203px;
  width: 229px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
}
.footer-list {
  margin: 0;
  padding: 0;
  margin-right: 100px;
  list-style: none;
}
.footer-list-item:not(:last-child){
margin-bottom: 20px;
}
.footer-list-item-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.footer-list-item-link:hover{
  color: #000;
}
.footer-list-item-link:active{
  opacity: 0.6;
}

.footer-content-inner-list {
  display: flex;
  flex-direction: column;
}
.footer-content-inner-list-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.footer-content-inner-list-link:hover{
  color: #000;
}
.footer-content-inner-list-link:active{
  opacity: 0.6;
}
.footer-content-inner-list-link:not(:last-child){
  margin-bottom: 20px;
}
.foter-hr{
  width: 998px;
  height: 1px;
  margin: 0;
  background-color: #CECECE;
  margin-bottom: 20px;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials-heading {
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.socials-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.socials-list-item {
  list-style: none;
}
.socials-list-item:not(:last-child){
  margin-right: 25px;
}
.socials-list-item-link{
  display: flex;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.socials-list-item-link:hover{
opacity: 0.8;
}
.socials-list-item-link:active{
  opacity: 0.6;
}
/* LIST */
.list-banner-img{
  width: 1200px;
  height: 128px;
  border-radius: 8px;
}
.list-news-right-bottom-img{
  width: 393px;
  height: 553px;
  border-radius: 15px;
}


/* CONTACT */
